# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/TestTCC/.vs/
/TestTCC/Debug
/TestTCC/TCCTasks/Debug
/TestTCC/TCCTasks/x64/Debug
/TestTCC/Task2TCPConsole/x64/Debug
/TestTCC/TestTCCTest/Debug/
/TestTCC/Task2TCPConsole/*.user
/TestTCC/TCCTasks/TCCTasks.vcxproj.user
/TestTCC/TestTCCTest/x64/Debug
/TestTCC/x64/Debug
/TestTCC/TestTCCTest/*.user
